<div class="m-0.5">
  <div class="container m-shadow"
    style="min-width: 1240px !important; max-width: 1240px !important; min-height: 1754px !important; max-height: 1754px !important;">

    <div class="row h-100"
      style="min-width: 1240px !important; max-width: 1240px !important; min-height: 1754px !important; max-height: 1754px !important;">
      <div class="col-md-4 bg-navy text-white plr-4">

        <div class="w-100 d-flex justify-content-center mt-4">
          <img class="rounded-circle img-100" src="../assets/Cv_.jpg" alt="">
        </div>

        <app-group [title]="'Info'" [items]="info"></app-group>
        <app-group [title]="'Contatti'" [items]="contats"></app-group>
        <app-group [title]="'Conoscenze Linguistiche'" [items]="languages"></app-group>

        <app-group [title]="'Soft Skills'" [items]="softSkills"></app-group>

        <app-group [title]="'Prospettive future e lavoro cercato'" [items]="futures"></app-group>


      </div>
      <div class="col-md-8 bg-light d-flex flex-column justify-content-between" style="min-height: 1754px !important; max-height: 1754px !important;">
        <div class="p-2">

          <div class="name-center-y">
            <h1 class="text-uppercase bold">Lorenzo Terranova</h1>
            <hr>
            <h5 class="text-uppercase font-weight-bold">Dottore in Ingegneria Informatica</h5>
            
            <h3 class="text-uppercase mt-5">Panoramica</h3>
            <p>Ottima capacità di adattamento a contesti socio-culturali differenti, maturata negli anni sia in ambiti universitari e lavorativi sia nel tempo libero.
              Persona fortemente votata alla condivisione e alla collaborazione, ciò che più mi sprona ed esalta è poter sfruttare le mie compentenze in maniera creativa,
              rimanendo sempre pronto ad imparare.
            </p>
            
          </div>
         
          <div>
            <h3 class="text-uppercase">Istruzione</h3>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column align-items-start">
                  <span class="bold">Laurea</span>
                  <span style="font-size: 12px;">2025</span>
                </div>


              </div>
              <div class="col-9">
                <p>
                  <b> Università degli Studi di Genova <br></b>
                  <b>Dipartimento di Informatica, Bioingegneria, Robotica e Ingegneria dei Sistemi <br></b>
                  <b>Ingegneria informatica <br></b>
                  <b> L-8 - Laurea in Ingegneria dell'informazione <br></b>
                  Titolo della tesi: Terramars – Value Spread Throughout the Basecamp | Materia: Progettazione e Analisi di Algoritmi | Relatore: Armando Tacchella <br>
                  <br>
                  Votazione finale: <b style="font-size: 16px;">87/110</b> <br>
                  Data di conseguimento: 18/07/2025 <br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column align-items-start">
                  <span class="bold">Maturità Scientifica</span>
                  <span style="font-size: 12px;">2015</span>
                </div>
              </div>
              <div class="col-9">
                <p>
                 <b> Istituto Scolastico Salesiano Don Bosco - Alassio (SV) <br></b>
                  Voto Diploma: 80/100 <br>
                  Tipo Diploma: diploma italiano <br>
                </p>
              </div>
            </div>

            <h3 class="text-uppercase mt-4">Competenze</h3>
            <div class="row">
              <div class="col-3"> <span class="bold">Programmazione</span></div>
              <div class="col-9">
                <p>
                  <b>C++</b> (Avanzato), <b>Java</b> (Avanzato), <b>MATLAB</b> (Avanzato), <b>Unreal Engine</b> (Avanzato), JavaScript (Intermedio), MIPS Assembly (Avanzato) 
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"> <span class="bold">Programmazione Web</span></div>
              <div class="col-9">
                <p>
                  <b>HTML</b> (Avanzato), <b>CSS</b> (Avanzato), <b>Angular</b> (Intermedio), <b>Laravel</b> (Intermedio), PHP (Intermedio), Bootstrap (Intermedio), DBeaver (Base)
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"> <span class="bold">Strumenti di Sviluppo</span></div>
              <div class="col-9">
                <p>
                  <b>Visual Studio Code</b> (Avanzato), <b>Eclipse</b> (Avanzato), GitHub (Intermedio)
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"><span class="bold">Office Automation</span></div>
              <div class="col-9">
                <p>
                  <b>Microsoft Word</b> (Avanzato), <b>Microsoft PowerPoint</b> (Avanzato), Microsoft Excel (Base), Microsoft Outlook (Intermedio)
                </p>
              </div>
            </div>
            
            
            <div class="row">
              <div class="col-3"><span class="bold">Gestione Sistemi e Reti</span></div>
              <div class="col-9">
                <p>
                 <b>Android</b> (Avanzato), <b>iOS</b> (Avanzato), <b>Microsoft Windows</b> (Avanzato)
                </p>
              </div>
            </div>
              <div class="row">
                <div class="col-3"><span class="bold">Editor Grafici</span></div>
                <div class="col-9">
                  <p>
                    <b>GIMP</b> (Avanzato)
                  </p>
                </div>
              </div>
              <h3 class="text-uppercase mt-4">Obiettivo Professionale</h3>
            <p>Il mio obiettivo ultimo è entrare nell'industria videoludica, padroneggiando quanti più aspetti possibili della stessa, 
              fino a potermi specializzare nel ruolo di Game Designer. Questo perchè amo concepire un progetto dal punto di vista artistico 
              e creativo ma con anche un occhio più tecnico e pragmatico, seguendone la genesi a tutto tondo e interfacciandomi coi vari team di sviluppo.
            </p>
            <h3 class="text-uppercase mt-4">Hobby e Interessi</h3>
            <p>Instancabile videogiocatore e giocatore di ruolo, nel tempo sono riuscito a rendere queste due mie passioni un qualcosa di più che semplici hobby.
              La mia tesi di laurea ha previsto lo sviluppo in Unreal Engine 4 di un componente per un videogioco, permettendomi di osservare il processivo creativo 
              e di sviluppo di questa industria, andando quindi oltre all'essere "solo" un giocatore.
              Sono inoltre diversi anni che gestisco svariati gruppi di gioco in tutta la provincia di Genova, in particolare il progetto F-EDH, 
              un collaborativo simil startup con il quale abbiamo creato una rete di eventi e tornei di Magic: The Gathering appoggiandoci a svariati negozi di Genova e provincia.
            </p>
            </div>
          </div>
        </div>
        <!-- <div class="align-self-end d-flex justify-content-center w-100"><span style="font-size: 10px;">CV self made from scratch with Angular, source code on github <a href="https://www.github.com/emasorz">{{'@emasorz'}}</a></span></div> -->
      </div>
    </div>
  </div>

