<div class="m-0.5">
  <div class="container m-shadow"
    style="min-width: 1240px !important; max-width: 1240px !important; min-height: 1754px !important; max-height: 1754px !important;">

    <div class="row h-100"
      style="min-width: 1240px !important; max-width: 1240px !important; min-height: 1754px !important; max-height: 1754px !important;">
      <div class="col-md-4 bg-navy text-white plr-4">

        <div class="w-100 d-flex justify-content-center mt-4">
          <img class="rounded-circle img-100" src="../assets/Cv_.jpg" alt="">
        </div>

        <app-group [title]="'Info'" [items]="info"></app-group>
        <app-group [title]="'Contacts'" [items]="contats"></app-group>
        <app-group [title]="'Languages'" [items]="languages"></app-group>

        <app-group [title]="'Soft Skills'" [items]="softSkills"></app-group>

        <app-group [title]="'Prospects and Desired Job'" [items]="futures"></app-group>


      </div>
      <div class="col-md-8 bg-light d-flex flex-column justify-content-between" style="min-height: 1754px !important; max-height: 1754px !important;">
        <div class="p-2">

          <div class="name-center-y">
            <h1 class="text-uppercase bold">Lorenzo Terranova</h1>
            <hr>
            <h5 class="text-uppercase font-weight-bold">Bachelor's Degree in Computer Science</h5>
            
            <h3 class="text-uppercase mt-5">Overview</h3>
            <p>Excellent ability to adapt to different socio-cultural contexts, developed over the years through academic, professional, and personal experiences.
              I'm a person who is strongly inclined toward sharing and collaboration — what motivates and excites me most is being able to use my knowledge creatively, 
              while always being open to learning.
            </p>
            
          </div>
         
          <div>
            <h3 class="text-uppercase">Education</h3>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column align-items-start">
                  <span class="bold">Degree</span>
                  <span style="font-size: 12px;">2025</span>
                </div>


              </div>
              <div class="col-9">
                <p>
                  <b> Università degli Studi di Genova <br></b>
                  <b>Dipartimento di Informatica, Bioingegneria, Robotica e Ingegneria dei Sistemi <br></b>
                  <b>Ingegneria informatica<br></b>
                  <b> L-8 - 1st level degree in Information technology <br></b>
                  Thesis Title: Terramars – Value Spread Throughout the Basecamp | Unreal Engine 4 (C++, Blueprints) | Subject: Progettazione e Analisi di Algoritmi | Supervisor: Armando Tacchella <br>
                  <br>
                  Final Grade: <b style="font-size: 16px;">87/110</b> <br>
                  Graduation Date: 18/07/2025 <br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column align-items-start">
                  <span class="bold">Scientific High School Diploma</span>
                  <span style="font-size: 12px;">2015</span>
                </div>
              </div>
              <div class="col-9">
                <p>
                 <b> Istituto Scolastico Salesiano Don Bosco - Alassio (SV) <br></b>
                  Diploma Grade: 80/100 <br>
                  Diploma Type: italian diploma <br>
                </p>
              </div>
            </div>

            <h3 class="text-uppercase mt-4">Skills</h3>
            <div class="row">
              <div class="col-3"> <span class="bold">Programming</span></div>
              <div class="col-9">
                <p>
                  <b>C++</b> (Advanced), <b>Java</b> (Advanced), <b>MATLAB</b> (Advanced), <b>Unreal Engine</b> (Advanced), JavaScript (Intermediate), MIPS Assembly (Advanced) 
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"> <span class="bold">Web Development</span></div>
              <div class="col-9">
                <p>
                  <b>HTML</b> (Advanced), <b>CSS</b> (Advanced), <b>Angular</b> (Intermediate), <b>Laravel</b> (Intermediate), PHP (Intermediate), Bootstrap (Intermediate), DBeaver (Basis)
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"> <span class="bold">Development Tools</span></div>
              <div class="col-9">
                <p>
                  <b>Visual Studio Code</b> (Advanced), <b>Eclipse</b> (Advanced), GitHub (Intermediate)
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"><span class="bold">Office Automation</span></div>
              <div class="col-9">
                <p>
                  <b>Microsoft Word</b> (Advanced), <b>Microsoft PowerPoint</b> (Advanced), Microsoft Excel (Basis), Microsoft Outlook (Intermediate)
                </p>
              </div>
            </div>
            
            
            <div class="row">
              <div class="col-3"><span class="bold">Systems and Networks</span></div>
              <div class="col-9">
                <p>
                 <b>Android</b> (Advanced), <b>iOS</b> (Advanced), <b>Microsoft Windows</b> (Advanced)
                </p>
              </div>
            </div>
              <div class="row">
                <div class="col-3"><span class="bold">Graphics Editor</span></div>
                <div class="col-9">
                  <p>
                    <b>GIMP</b> (Advanced)
                  </p>
                </div>
              </div>
              <h3 class="text-uppercase mt-4">Professional Goals</h3>
            <p>My final goal is to enter the video game industry, mastering as many of its aspects as possible until I can specialize 
              in the role of Game Designer. This is because I love approaching a project from an artistic and creative perspective, 
              while also keeping a technical and pragmatic mindset, following its development in a well-rounded way and collaborating 
              closely with the various teams involved.
            </p>
            <h3 class="text-uppercase mt-4">Hobbies</h3>
            <p>Tireless gamer and roleplayer, over time I’ve managed to turn these two passions into something more than just hobbies.
              My degree thesis involved developing a videogame component in Unreal Engine 4, allowing me to explore the creative and 
              production processes of the industry — going beyond simply being a player.
              For several years now, I’ve also been managing various gaming groups throughout the province of Genoa, 
              most notably the F-EDH Project: a startup-like collaboration through which we’ve built a network of events and 
              Magic: The Gathering tournaments, partnering with multiple stores in Genoa and the surrounding area.
            </p>
            </div>
          </div>
        </div>
        <!-- <div class="align-self-end d-flex justify-content-center w-100"><span style="font-size: 10px;">CV self made from scratch with Angular, source code on github <a href="https://www.github.com/emasorz">{{'@emasorz'}}</a></span></div> -->
      </div>
    </div>
  </div>

